@font-face {
    font-family: 'zabars';
    src: url('fonts/zabars.ttf') format('truetype'); 
}  

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/5_background/canyon-7631482_1920.png');
    font-family:'zabars',Arial, Helvetica, sans-serif;
    margin: 0px;
}

h1{
    font-size: 56px;
    letter-spacing: 3px;
    text-shadow: 4px, 4px, 8px rgba(0,0,0, 0.5);
}

canvas {
    background-color: black;
    display: block;
}

.absolute{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 554px;
    width: 720px;
}

.absolute img{
    width: 40px;
}

.startBtn{
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    background-color: #b05b22;
    color: white;
    border: none;
    border-radius: 5px;
}

.restartBtn{
    display: none;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    background-color: #b05b22;
    color: white;
    border: none;
    border-radius: 5px;
}

button:active {
    background-color: #9f5321;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.gameStartBtn{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.gameStartBtn img{
    cursor: pointer;
}

.fullscreen{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-position: start;
}

.mobileKey{
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #b05b22;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: box-shadow 0.3s;
    justify-content: center;
    align-items: center;
}

.mobileKey:active{
    background-color: #9f5321;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}


.description {
    display: flex;
    gap: 12px;
}

.gameIcons{
    padding-left: 12px;
    padding-right: 12px;
}




@media only screen and (max-width: 720px){
    canvas{
        width: 100vw;
    }
    .absolute{
        width: 100vw;
        top: 73%;   
        transform: translateY(-50%); /* Korrigiert die Positionierung, um den Container genau in der Mitte zu zentrieren */
       
    }
}

@media only screen and (max-height: 675px){
    h1 {
        display: none;
    }

    .description{
        display: none;
    }

    .absolute{
        width: 100vw;
        top: 73%;   
        transform: translateY(-50%); /* Korrigiert die Positionierung, um den Container genau in der Mitte zu zentrieren */  
    }
}


@media only screen and (max-height: 480px){
    canvas{
        width: 100vw;
        height: 100vh;
    }

    .absolute{
        width: 100vw; 
    }

    .description{
        display: none;
    }

    .mobileKey{
        display: flex;
    }

    .absolute{
        top: 390px;
    }

    h1 {
        display: none;
    }
}