@font-face {
    font-family: 'zabars';
    src: url('fonts/zabars.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/5_background/canyon-7631482_1920.png');
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.instruction {
    margin-top: 48px;
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 720px;
    height: 64px;
}

.instruction-icon {
    width: 20%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #b05b22;
    border-radius: 8px;
}

.instruction-icon img {
    height: 32px;
}

canvas {
    background-color: black;
    display: block;
    border-radius: 8px;
    margin-bottom: 48px;
}

.canvasFullscreen {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.game-steering {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 720px;
    height: 64px;
}

.steering-elements {
    width: 52px;
    height: 80%;
    background-color: #b05b22;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.2);
}

.steering-elements:hover {
    cursor: pointer;
    background-color: #a35521;
}

.control {
    display: flex;
}

.absolute {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 75%;
    width: 700px;
}

.icon-container {
    padding: 4px 4px;
    font-size: 20px;
    cursor: pointer;
    background-color: #b05b22;
    color: white;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-container:hover {
    background-color: #a35521;
}

.alert {
    display: none;
}

.absoluteFullscreen {
    top: 90%;
    width: 90%;
}

.canvasFullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.emptyDiv {
    height: 40px;
    width: 40px;
}

.absolute img {
    width: 40px;
}

.startBtn {
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    background-color: #b05b22;
    color: white;
    border: none;
    border-radius: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.2);
}

.startBtn:hover {
    background-color: #a35521;
}

.restartBtn {
    display: none;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    background-color: #b05b22;
    color: white;
    border: none;
    border-radius: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.2);
}

.restartBtn:hover {
    background-color: #a35521;
}

.gameStartBtn {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.gameStartBtn img {
    cursor: pointer;
}

.fullscreen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-position: start;
}

.mobileKey {
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #b05b22;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: box-shadow 0.3s;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
}

.mobileKey:active {
    background-color: #9f5321;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100vw;
    }

    .instruction {
        width: 100%;
    }

    .game-steering {
        width: 100%;
    }

    .absolute {
        width: 100vw;
        top: 73%;
        transform: translateY(-50%);

    }

}

@media only screen and (max-width: 600px) {
    .absolute {
        width: 100vw;
        top: 60%;
    }
}


@media only screen and (max-width: 474px) {
    .absolute {
        width: 100vw;
        top: 50%;
    }

    .alert {
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        text-align: center;
    }
}

@media only screen and (max-height: 600px) {
    h1 {
        display: none;
    }

    .description {
        display: none;
    }

    .absolute {
        width: 100vw;
        top: 80%;
    }
}


@media only screen and (max-height: 480px) {

    body {
        overflow: hidden;
    }

    canvas {
        width: 100vw;
        height: 100vh;
    }

    .alert {
        display: none;
    }

    .fullscreenIcon {
        display: none;
    }

    .absolute {
        width: 100vw;
    }

    .description {
        display: none;
    }

    .mobileKey {
        display: flex;
    }

    .absolute {
        top: 80%;
    }

    h1 {
        display: none;
    }
}