@font-face {
    font-family: 'zabars';
    src: url('fonts/zabars.ttf') format('truetype'); 
}  

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/5_background/canyon-7631482_1920.png');
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    margin: 0px;
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    font-size: 56px;
    letter-spacing: 3px;
    text-shadow: 4px, 4px, 8px rgba(0,0,0, 0.5);
}

canvas {
    background-color: black;
    display: block;
}

.canvasFullscreen{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.control{
    display: flex;
}

.absolute{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 75%;
    width: 700px;
}

.alert{
 display: none;
}

.absoluteFullscreen{
    top: 90%;
    width: 90%;
}

.canvasFullscreen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.emptyDiv{
    height: 40px;
    width: 40px;
}

.absolute img{
    width: 40px;
}

.startBtn{
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    background-color: #b05b22;
    color: white;
    border: none;
    border-radius: 5px;
}

.restartBtn{
    display: none;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    background-color: #b05b22;
    color: white;
    border: none;
    border-radius: 5px;
}

button:active {
    background-color: #9f5321;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.gameStartBtn{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.gameStartBtn img{
    cursor: pointer;
}

.fullscreen{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-position: start;
}

.mobileKey{
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #b05b22;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: box-shadow 0.3s;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
}

.mobileKey:active{
    background-color: #9f5321;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}


.description {
    display: flex;
    gap: 12px;
}

.gameIcons{
    padding-left: 12px;
    padding-right: 12px;
}




@media only screen and (max-width: 720px){
    canvas{
        width: 100vw;
    }
    .absolute{
        width: 100vw;
        top: 73%;   
        transform: translateY(-50%); 
       
    }

}

@media only screen and (max-width: 600px){
    .absolute{
        width: 100vw;
        top: 60%;   
    }
}


@media only screen and (max-width: 474px){
    .absolute{
        width: 100vw;
        top: 50%;   
    }

    .alert{
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        text-align: center;
    }
}

@media only screen and (max-height: 600px){
    h1 {
        display: none;
    }

    .description{
        display: none;
    }

    .absolute{
        width: 100vw;
        top: 80%;   
    }
}


@media only screen and (max-height: 480px){

    body {
        overflow: hidden;
    }
    canvas{
        width: 100vw;
        height: 100vh;
    }

    .alert{
        display: none;
    }

    .fullscreenIcon{
        display: none;
    }

    .absolute{
        width: 100vw; 
    }

    .description{
        display: none;
    }

    .mobileKey{
        display: flex;
    }

    .absolute{
        top: 80%;
    }

    h1 {
        display: none;
    }
}